.menu {
    background-color: #0D67B5;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    height: 50px;
}
.gomb {
    display: grid;
    background-color: #0D67B5;
    color: white;
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin: 1px;
}
.gomb:hover {
    background-color: black;
    color: white ;
}
.img {
    display: grid;
    background-color: #0D67B5;
    color: white;
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin: 1px;
}
.img:hover {
    background-color: black;
    color: white ;
}