body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url('../Képek/tech.jpg')
}
* {
    box-sizing: border-box
}
.wrapper {
    max-width: 1200px;
    margin: 50px auto;
    box-shadow: 0 0 200px rgba(255,255,255,.9);
}
header {
    background: url(../Képek/Info.jpg) no-repeat;
    height: 400px;
}
nav {
    background: rgba(1, 47, 253, 0.8);
    position: sticky;
    top: 0;
    left: 0;
    right: 0
}
nav::after {
    content:'';
    clear: both;
    display: table
}
nav a {
    color:white;
    text-decoration: none;
    padding: 20px;
    display: block
}
nav a:hover {
    background: rgba(0,0,0,.8)
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0
}
nav>ul>li {
    float: left
}
main{
    background: white;
    padding: 40px
}
main p {
    line-height: 1.5
}
main h1 {
    margin-top: 0
}
nav .submenu {
    position: absolute;
    display: none;
    width: 110px;
}
nav .submenu li {
    float: none 
}
nav .submenu a {
    background: rgba(1, 47, 253, 0.8);
    padding: 10px 15px
}
nav .submenu a:hover {
    background: black;
}
nav .has-submenu {
        position: relative;
}
nav .has-submenu::after {
     content: '⯆' ;
     color: white;
     position: absolute;
     top: 16px;
     right: 2px
}
nav .has-submenu:hover .submenu {
    display: block;
}

#kép{
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-left: 450px
}
#fej{
    color: white;
    margin-left: 510px
}
#fej2{
    color: white;
    margin-left: 485px
}
#egycím{
    margin-left: 300px
}
#ps5{
    margin-left: 350px
}
#legjobb{
    margin-left: 90px
}
#futár{
    margin-left: 400px
}
#fizetés{
    margin-left: 300px
}
#olcsó{
    margin-left: 20px
}
#ár{
    font-size: 10px;
    text-align: center;
}
#fold{
    text-align: center;
}
#z{
    text-align: center;
    font-size: 15px;
}
#kép1{
    margin-left: 160px
}
#kép2{
    margin-left: 160px
}